@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="~/css/MyStyles.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MyStyles.css" />

</head>
<body>

    <div class="collapseop">
        <img style="width:29px; height:29px;" src="~/media/window-collapse-right-svgrepo-com.svg" alt="Collapse Icon" />
    </div>
    <div class="inbox">
        <div class="inbox-inner">
            <div class="inbox-col">
                <h1 class="inbox-header">Today</h1>
                <form method="post" action="/ToDoList/CreateTodayTask" id="taskForm">
                    <div class="add-task">
                        <input type="text" id="taskInput" name="title" placeholder="Add Task" required />
                        <input type="hidden" id="dueDateInput" name="dueDate" value="@DateTime.Now.ToString("dd.MM.yyyy")" />
                        <button type="submit" id="plusbtn">+</button>
                    </div>
                </form>
                <div class="my-task">
                    <div class="tasks-containers">
                        @foreach (var task in ViewBag.TodayTasks)
                        {
                            <div class="task-container">
                                <div class="content-task">
                                    <p class="task-text" data-task-id="@task.Id">@task.Title</p>
                                    <div class="task-footer">
                                        <div class="date-container">@task.DueDate.ToShortDateString()</div>
                                        <div class="task-icons">
                                            <img src="~/media/trash-plus-alt-svgrepo-com (1).svg"
                                                 alt="Delete"
                                                 class="delete-icon"
                                                 data-task-id="@task.Id">
                                            <img src="~/media/edit-2-svgrepo-com (1).svg"
                                                 alt="Edit"
                                                 class="edit-icon"
                                                 data-task-id="@task.Id">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox-wrapper-12">
                                    <div class="cbx">
                                        <input id="task-@task.Id" type="checkbox" data-task-id="@task.Id" @(task.IsCompleted ? "checked" : "") />
                                        <label for="task-@task.Id"></label>
                                        <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                                        </svg>
                                    </div>
                                    <!-- Gooey -->
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <defs>
                                            <filter id="goo-@task.Id">
                                                <fegaussianblur in="SourceGraphic" stddeviation="4" result="blur"></fegaussianblur>
                                                <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo"></fecolormatrix>
                                                <feblend in="SourceGraphic" in2="goo"></feblend>
                                            </filter>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/lib/jquery/dist/JqueryRequests.js"></script>
</body>
</html>